.orange > div {
  background-color: orange;
}
.yellow > div {
  background-color: yellow;
}
.blue > div {
  background-color: blue;
}
.grey > div {
  background-color: lightgray;
}

/* MOBILE VERSION */
@media only screen and (max-width: 767px) {
  body > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  body > div > div {
    margin: 5px;
  }
  .orange > div,
  .grey > div {
    height: 100px;
  }
  .yellow > div {
    height: 150px;
  }
  .blue > div {
    height: 200px;
  }
}

/* TABLET VERSION */
@media only screen and (min-width: 768px) {
  body > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  body > div > div {
    margin: 5px;
  }
  .orange > div {
    height: 100px;
  }
  .yellow > div {
    height: 200px;
  }
  .blue > div,
  .grey > div {
    height: 150px;
  }
  .grey {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grey > div {
    width: calc(50% - 10px);
  }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 1024px) {
  body > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  body > div > div {
    margin: 5px;
    flex: 1;
  }
  .orange > div {
    height: 100px;
  }
  .yellow > div {
    height: 300px;
  }
  .blue > div {
    height: 200px;
  }
  .grey > div {
    height: 150px;
  }
}