* {
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 1em;
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.menu > li {
  margin: 0 1em;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}

/* MOBILE ONLY */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms ease-out;
    border-radius: 1px;
  }
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: white;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms ease-out;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid black;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms ease-out;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: white;
  }
  #menu-toggle:checked ~ .menu li:last-child {
    border-bottom: 3px solid black;
  }
  #menu-toggle:checked ~ .menu li:first-child {
    border-top: 3px solid black;
  }
}
