body {
  color: white;
  background-color: darkslategray;
  text-align: center;
  font-size: xx-large;
}
h4 {
  font-weight: normal;
}
form > div:not(.checkbox) > label,
form > div:not(.checkbox) > input,
form > div > textarea {
  width: 50%;
  margin: 0 25%;
}
form > div {
  margin-bottom: 20px;
}
input {
  height: 3em;
}
.smaller {
  font-size: smaller;
}
button {
  background-color: green;
  color: white;
  font-size: xx-large;
  padding: 7px;
  border-top: 5px solid darkgray;
  border-left: 5px solid darkgray;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
button:hover {
  background-color: darkgreen;
}
input:read-only {
  background-color: lightgray;
  font-size: x-large;
  height: fit-content;
  padding: 0.3em 0;
  color: black; /* kodėl neveikia? */
  border-bottom: 5px solid darkgray;
  border-right: 5px solid darkgray;
  border-left: 5px solid black;
  border-top: 5px solid black;
}
input:required {
  border: 5px solid red;
  border-left: 5px solid palevioletred;
}
.req {
  background-color: orchid;
}
/* checkbox  - kokį selektorių naudoti? kaip padidinti? */
input[type="checkbox"]:checked + label {
  color: blue;
}
input:valid,
input:in-range,
textarea {
  border: 2px solid green;
}
input:invalid,
input:out-of-range {
  border: 2px solid red;
  
}