@font-face {
  font-family: "ProximaNova";
  src: url("/019_Bakery_page_Vytenis/assets/Fonts/proximaNova-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Scriptina";
  src: url("/019_Bakery_page_Vytenis/assets/Fonts/scriptina-regular.ttf") format("truetype");
}

header {
  height: 100vh;
  color: white;
  background-image: url("/019_Bakery_page_Vytenis/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  background-image: url("/019_Bakery_page_Vytenis/assets/nav_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav h2 {
  font-family: "Scriptina";
  letter-spacing: 0.6rem;
  font-weight: 400;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-family: "ProximaNova";
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

header nav ul li a:hover {
  cursor: pointer;
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

header nav .menu-links li a {
  padding: 10px 25px;
}

header h1 {
  letter-spacing: 0.4rem;
  font-weight: 600;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 120px;
  text-shadow: 0px 1px 0px black;
}

header .dashed-line {
  text-align: center;
}

header p {
  font-family: "ProximaNova";
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-shadow: 0px 1px 0px black;
  line-height: 0.6;
}

header p:first-of-type {
  margin-top: 65px;
}

header button {
  display: block;
  margin: 70px auto;
  border: 1px dashed grey;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 3rem;
  color: white;
  text-shadow: 0px 1px 0px black;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

header button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.cakes {
  height: 85vh;
  background-image: url("/019_Bakery_page_Vytenis/assets/cakes_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 50px;
}

.cakes > div:first-child img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -53px;
}

.cakes > div:nth-child(2) img {
  background-color: white;
  outline: 13px solid white;
  outline-offset: 0px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -128.5px;
}

.cakes > div:nth-child(3) {
  height: 75vh;
  position: relative;
  top: -160px;
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cakes > div:nth-child(3) .left {
  height: 75vh;
  width: 50%;
  margin-left: 20px;
  color: #56534c;
}

.cakes > div:nth-child(3) .left h1 {
  font-size: 2.5rem;
  margin: 0;
}

.cakes > div:nth-child(3) .left h3 {
  color: #a67f60;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.3rem;
}

.cakes > div:nth-child(3) .left p:first-of-type {
  padding: 2.5rem;
  font-size: small;
  font-weight: bold;
  line-height: 1.5;
}

.cakes > div:nth-child(3) .left .cook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cakes > div:nth-child(3) .left .cook p {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  border-top: 1px solid #b6b5b1;
  border-bottom: 1px solid #b6b5b1;
}

.cakes > div:nth-child(3) .left .cook img {
  padding: 20px;
}

.cakes > div:nth-child(3) .left .quote {
  font-family: "Scriptina";
  font-size: 2rem;
  margin: 0;
  color: #a67f60;
}

.cakes > div:nth-child(3) .left .quote .grey {
  color: #b6b5b1;
  font-size: 5rem;
  font-family: "ProximaNova";
}

.cakes > div:nth-child(3) .right {
  height: 75vh;
  width: 50%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.cakes > div:nth-child(3) .right > div {
  width: calc(50% - 10px);
}

.cakes > div:nth-child(3) .right > div:not(:nth-child(5)) {
  outline: 5px solid white;
  outline-offset: -15px;
  margin: 5px;
}

.cakes > div:nth-child(3) .right > div:not(:nth-child(5)) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cakes > div:nth-child(3) .right > div:nth-child(5) {
  position: absolute;
  -webkit-transform: translate(-1%, 62%);
          transform: translate(-1%, 62%);
  opacity: 0.95;
}

.pancakes {
  height: 85vh;
  background-image: url("/019_Bakery_page_Vytenis/assets/pancakes_placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */